.container{
    margin-top: 50px;
    text-align: center;
}

p.message-404{
    position: absolute;
    left: 450px;
    top: 500px;
}

img.error-404{
    position: absolute;
    border-radius: 0;
    width: 400px;
    height: 400px;
 
    margin: 0 -195px;
}