$color1: #fff;
$color2: #000;

main#content {
    text-align: center;
    margin-top: 15%;
}

h1 {
    color: $color1;
    font-size: 50px;
    font-weight: 900;
}

p {
    color: $color1;
    font-size: 17px;
    font-weight: 100;
}

.link-home {
    display: inline-block;

    text-decoration: none;
    color: $color1;

    border: 1px solid $color1;

    padding: 10px;
    margin-top: 20px;

    transition: .2s linear;
}

.link-home:hover {
    color: $color2;
    border: 1px solid $color2;
}